## axes d'analyse

In [ ]:
Analyse des ventes par produit : vous pouvez examiner les ventes de chaque produit individuellement et comparer leur performance pour voir quels produits se vendent le mieux et quels produits pourraient avoir besoin d'être améliorés.

Analyse de la saisonnalité des ventes : examinez les tendances saisonnières des ventes pour voir si certains produits se vendent mieux à certaines périodes de l'année. Par exemple, les ventes de maillots de bain peuvent augmenter en été.

Analyse de la relation entre les ventes et les promotions : examinez l'impact des promotions et des offres spéciales sur les ventes. Vous pouvez voir comment les ventes ont été affectées par différentes promotions, comme les remises ou les offres "achetez un, obtenez un gratuitement".

Analyse de la répartition des ventes par zone géographique : examinez les ventes par région pour voir si certains produits se vendent mieux dans certaines zones géographiques. Vous pouvez également examiner les tendances de croissance ou de baisse des ventes dans chaque région.

Analyse des tendances de croissance des ventes : examinez les tendances de croissance des ventes au fil du temps pour voir comment l'entreprise se développe. Vous pouvez également comparer les taux de croissance des ventes par rapport à l'industrie dans son ensemble pour voir comment l'entreprise se situe par rapport à ses concurrents.

In [ ]:
Test de corrélation : vous pouvez effectuer un test de corrélation pour déterminer si une relation existe entre deux variables. Par exemple, vous pourriez tester la corrélation entre le prix d'un produit et le nombre de ventes de ce produit.

Test de différence de moyenne : vous pouvez effectuer un test pour déterminer s'il y a une différence significative entre les moyennes de deux groupes de données. Par exemple, vous pourriez tester s'il y a une différence significative dans les ventes entre deux régions géographiques différentes.

Analyse de régression : vous pouvez effectuer une analyse de régression pour modéliser la relation entre deux variables et prédire les valeurs futures en fonction de ces variables. Par exemple, vous pourriez modéliser la relation entre le temps et les ventes pour prédire les ventes futures.

Analyse de variance : vous pouvez effectuer une analyse de variance pour déterminer s'il y a une différence significative entre les moyennes de plusieurs groupes de données. Par exemple, vous pourriez tester s'il y a une différence significative entre les ventes de différents types de produits.

In [20]:

import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
# lecture de la base de données provenant du chemin dans lequel se trouve la BD ou les fichiers de la BD
files=[file for file in os.listdir(r'C:/Users/user/projet perso/BD')]
for file in files:
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [32]:
#Regrouper les fichiers csv et creer une seule base de données qui sera utilisée par la suite 
path=r'C:\Users\user\projet perso\BD'
#Creer une nouvelle BD issue des fichiers de la premiere BD
all_data=pd.DataFrame()
for file in files:
    current_data=pd.read_csv(path+'/'+file)
    all_data=pd.concat([all_data,current_data])
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [30]:
#afin de voir la base de données de janvier uniquement on fait:
donnee_janvier=pd.read_csv(path+'/Sales_January_2019.csv')
donnee_janvier.shape

(9723, 6)

In [31]:
type(all_data)

pandas.core.frame.DataFrame